@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

:root {
  --color-white: #fff;
  --color-black: #000000;
  --color-green: #1ed561;
  --color-light-grey: #adadad;
  --color-dark-grey: #5f5f5f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-black);
  color: var(--color-white);
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.special {
  color: var(--color-green);
}

::selection {
  background-color: var(--color-green);
  color: var(--color-black);
}

/* ================================ */
/*           SCROLL BAR             */
/* ================================ */
body::-webkit-scrollbar {
  width: 0.5rem;
}
body::-webkit-scrollbar-track {
  background-color: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--color-green);
}

/* ================================ */
/*             BG Image             */
/* ================================ */
#background-darkener {
  z-index: -1;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.8;
}

#background-image {
  z-index: -2;
  position: fixed;
  background-image: url('../public/graph-bg.jpg');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

/* ================================ */
/*              HEADER              */
/* ================================ */
header {
  margin: 0 1rem 1rem;
  text-align: center;
}

header h1 {
  padding: 1rem 2rem 0;
  color: var(--color-green);
}

header h4 {
  margin: 0.3rem 0 1rem;
}

header h4 a {
  color: var(--color-white);
  text-decoration: underline;
  transition: color 0.3s ease-in-out;
}

#description-container {
  max-width: 850px;
  margin: 0 auto;
}

#description-message {
  line-height: 1.4rem;
}

/* ================================ */
/*            USER INPUT            */
/* ================================ */
form {
  margin-top: 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 0 3rem 0 3rem;
}

input[type='text'] {
  font-family: 'Poppins', sans-serif;
  border: none;
  background-color: transparent;
  border-bottom: solid 0.2rem var(--color-green);
  padding: 0.3rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  text-align: center;
  color: var(--color-white);
}

/* turn off dropdown triangle for datalist autocomplete */
::-webkit-calendar-picker-indicator {
  display: none !important;
}

::placeholder {
  color: #858585;
}

input[type='text']:focus {
  outline: none;
}

button {
  border: none;
  background-color: var(--color-green);
  color: var(--color-black);
  padding: 0.5rem 1.2rem;
  margin-top: 0.7rem;
  font-size: 1.1rem;
  font-family: 'Poppins', sans-serif;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 9rem;

  position: relative;
  z-index: 1;
  overflow: hidden;
}

button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-white);
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease-in-out;
}

/* ================================ */
/*           ARTIST PANEL           */
/* ================================ */
.artist-panel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  margin: 1rem auto;
  max-width: 600px;
  justify-content: center;
  align-items: center;
}

.artist-profile {
  padding: 0.75rem 0;
  transition: transform 0.5s ease-in-out;
}

.artist-image {
  width: 8rem;
  height: 8rem;
  border-radius: 10rem;
  border: 0.45rem solid var(--color-green);
  transition: border-color 0.5s ease-in-out;
}

.artist-name {
  font-size: 1.1rem;
  margin-top: 0.4rem;
  color: var(--color-white);
}

.horizontal-double-arrow {
  justify-items: center;
  align-items: center;
  margin: auto 0;
  width: 2.5rem;
  height: 2.5rem;
  color: var(--color-white);
  display: none;
}

#error-message-container {
  max-width: 700px;
  margin: 0 auto;
}

#error-message {
  text-align: center;
  margin: 1.5rem;
  line-height: 1.8rem;
}

/* ================================ */
/*       Artist Panel Loading       */
/* ================================ */
.loading-artist-profile {
  padding: 0.75rem 0;
}

.loading-artist-icon-wrapper {
  background-color: var(--color-black);
  width: 8rem;
  height: 8rem;
  border-radius: 10rem;
  border: 0.45rem solid var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  animation: skeleton-loading-icon 1s linear infinite alternate;
  opacity: 0.7;
}

.loading-artist-icon {
  width: 3rem;
  height: 3rem;
}

@keyframes skeleton-loading-icon {
  0% {
    border-color: var(--color-light-grey);
    color: var(--color-light-grey);
  }
  100% {
    border-color: var(--color-dark-grey);
    color: var(--color-dark-grey);
  }
}

.loading-artist-name {
  margin: 0.8rem auto 0;
  font-size: 0.7rem;
  width: 45%;
  animation: skeleton-loading-bg 1s linear infinite alternate;
  opacity: 0.7;
  border-radius: 0.1rem;
}

@keyframes skeleton-loading-bg {
  0% {
    background-color: var(--color-light-grey);
    color: var(--color-light-grey);
  }
  100% {
    background-color: var(--color-dark-grey);
    color: var(--color-dark-grey);
  }
}

.loading-artist-arrow {
  animation: skeleton-loading-color 1s linear infinite alternate;
}

@keyframes skeleton-loading-color {
  0% {
    color: var(--color-light-grey);
  }
  100% {
    color: var(--color-dark-grey);
  }
}

/* ================================ */
/*           MEDIA QUERIES          */
/* ================================ */
@media (min-width: 700px) {
  header h1 {
    font-size: 3rem;
  }

  header h4 {
    padding-bottom: 0.35rem;
    font-size: 1.3rem;
  }

  header h4 a:hover {
    color: var(--color-green);
  }

  header p {
    font-size: 1.3rem;
  }

  #description-message {
    line-height: 1.8rem;
  }

  input[type='text'] {
    font-size: 1.5rem;
  }

  button {
    font-size: 1.4rem;
    width: 12.5rem;
    padding: 0.6rem 1.8rem;
  }

  button:hover {
    cursor: pointer;
  }

  button:hover::before {
    transform: scaleX(1);
  }

  .artist-panel {
    grid-template-columns: 1fr 0.1fr 1fr 0.1fr;
  }

  .artist-profile:hover {
    transform: scale(1.07);
  }

  .artist-image:hover {
    border-color: var(--color-white);
  }

  .artist-image,
  .loading-artist-icon-wrapper {
    width: 11rem;
    height: 11rem;
    border-width: 0.6rem;
  }

  .artist-name {
    font-size: 1.4rem;
  }

  .horizontal-double-arrow {
    display: flex;
  }

  .loading-artist-name {
    width: 55%;
    font-size: 1rem;
    margin-top: 1rem;
  }
}

@media (min-width: 900px) {
  .artist-panel {
    grid-template-columns: 1fr 0.1fr 1fr 0.1fr 1fr 0.1fr;
    max-width: 800px;
  }

  #error-message {
    font-size: 1.4rem;
  }
}

@media (min-width: 1300px) {
  .artist-panel {
    grid-template-columns: 1fr 0.1fr 1fr 0.1fr 1fr 0.1fr 1fr 0.1fr;
    max-width: 1200px;
  }

  .artist-profile,
  .loading-artist-profile {
    margin: 0.5rem 0;
  }
}
